
/*---------------------------------------------fon-------------------------------------------------*/

@media screen and (min-width: 980px) and (max-width: 1174px)
{
	#subject_problem_decision .problem
	{
		/* background-color: red; */
		width: 100%;
		height: 1059px;
		background-image:none;	
		background-repeat:no-repeat;
		background-position: top right;
	}
}

@media screen and (min-width: 820px) and (max-width: 980px)
{
	#subject_problem_decision .problem
	{
		/* background-color: red; */
		width: 100%;
		height: 1059px;
		background-image:none;	
		background-repeat:no-repeat;
		background-position: top right;
	}
}

@media screen and (min-width: 620px) and (max-width: 820px)
{
	#subject_problem_decision .problem
	{
		/* background-color: red; */
		width: 100%;
		height: 1059px;
		background-image:none;	
		background-repeat:no-repeat;
		background-position: top right;
	}
}

@media screen and (min-width: 410px) and (max-width: 620px)
{
	#subject_problem_decision .problem
	{
		/* background-color: red; */
		width: 100%;
		height: 1059px;
		background-image:none;	
		background-repeat:no-repeat;
		background-position: top right;
	}
}

@media screen and (min-width: 300px) and (max-width: 410px)
{
	#subject_problem_decision .problem
	{
		/* background-color: red; */
		width: 100%;
		height: 1059px;
		background-image:none;	
		background-repeat:no-repeat;
		background-position: top right;
	}
}

/*---------------------------------------------header----------------------------------------------*/

@media screen and (min-width: 980px) and (max-width: 1174px)
{
	header
	{
		/* background-color: red */
	}

	header .container
	{
		width: 980px
	}

	header .str_hed
	{
		display: none
	}

	header img
	{
		margin-left: 74px
	}

	header .Order
	{
		right: 32px
	}
}

@media screen and (min-width: 820px) and (max-width: 980px)
{
	header
	{
		/* background-color: red; */
	}

	header .container
	{
		width: 820px
	}

	header .str_hed
	{
		display: none
	}

}

@media screen and (min-width: 620px) and (max-width: 820px)
{
	header
	{
		/* background-color: red; */
		 height: 260px;
		 position: relative;
	}

	header .container
	{
		width: 620px
	}

	header .str_hed
	{
		display: none
	}

	header img
	{
		position: relative;
		left: 74px
	}

	header .Order
	{
		margin: 0 auto;
		float: none
	}
}

@media screen and (min-width: 410px) and (max-width: 620px)
{
	header
	{
		/* background-color: red; */
		 height: 260px;
		 position: relative;
	}

	header .container
	{
		width: 410px
	}

	header .str_hed
	{
		display: none
	}

	header img
	{
		position: relative;
		left: 0px;
		top: 34px;
		width: 100%
	}

	header .Order
	{
		margin: 0 auto;
		float: none
	}
}

@media screen and (min-width: 300px) and (max-width: 410px)
{
	header
	{
		/* background-color: red; */
		 height: 260px;
		 position: relative;
	}

	header .container
	{
		width: 300px
	}

	header .str_hed
	{
		display: none
	}

	header img
	{
		position: relative;
		left: 0px;
		top: 34px;
		width: 100%
	}

	header .Order
	{
		margin: 0 auto;
		float: none
	}
}

/*++++++++++++++++++++++++++++++++++++++++++++++footer++++++++++++++++++++++++++++++++++++++++++++++++++*/


@media screen and (min-width: 980px) and (max-width: 1174px)
{
	footer
	{
		/* background-color: red */
	}

	footer .container
	{
		width: 980px
	}

	footer .str_hed
	{
		display: none
	}

	footer img
	{
		margin-left: 74px
	}

	footer .Order
	{
		right: 32px
	}
}

@media screen and (min-width: 820px) and (max-width: 980px)
{
	footer
	{
		/* background-color: red; */
	}

	footer .container
	{
		width: 820px
	}

	footer .str_hed
	{
		display: none
	}

}

@media screen and (min-width: 620px) and (max-width: 820px)
{
	footer
	{
		/* background-color: red; */
		 height: 260px;
		 position: relative;
	}

	footer .container
	{
		width: 620px
	}

	footer .str_hed
	{
		display: none
	}

	footer img
	{
		position: relative;
		left: 74px
	}

	footer .Order
	{
		margin: 0 auto;
		float: none
	}
}

@media screen and (min-width: 410px) and (max-width: 620px)
{
	footer
	{
		/* background-color: red; */
		 height: 260px;
		 position: relative;
	}

	footer .container
	{
		width: 410px
	}

	footer .str_hed
	{
		display: none
	}

	footer img
	{
		position: relative;
		left: 0px;
		top: 34px;
		width: 100%
	}

	footer .Order
	{
		margin: 0 auto;
		float: none
	}
}

@media screen and (min-width: 300px) and (max-width: 410px)
{
	footer
	{
		/* background-color: red; */
		 height: 260px;
		 position: relative;
	}

	footer .container
	{
		width: 300px
	}

	footer .str_hed
	{
		display: none
	}

	footer img
	{
		position: relative;
		left: 0px;
		top: 34px;
		width: 100%
	}

	footer .Order
	{
		margin: 0 auto;
		float: none
	}
}



/*-----------------------------------------------BLOCKS----------------------------------------------*/
/*===========================size screen -> (min-width: 980px) and (max-width: 1174px)===============*/

@media screen and (min-width: 980px) and (max-width: 1174px)
{
	/*+++++++++++++++++++++++++++++++++++++++++++++block 1+++++++++++++++++++++++++++++++++++++++++++++++*/

	#subject_problem_decision .container
	{
		width: 980px;
		margin: 0 auto
	}

	#subject_problem_decision .problem .why_problem .cont
	{
		height: 170px;
		/* background-color: blue; */
		width: 839px;
		margin: 0 auto
	}

	#subject_problem_decision .problem .why_problem:before {
    content: "";
    position: absolute;
    bottom: -15px;
    height: 14px;
    width: 1246px;
    background-color: #ad0000;
    right:94px;
	}


	/*+++++++++++++++++++++++++++++++++++++++++block 2+++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	#subject_problem_decision .problem .why_i .cont
	{
		height: 170px;
		/* background-color: blue; */
		width: 839px;
		margin: 0 auto
	}
	/*+++++++++++++++++++++++++++++++++++++++++block 3+++++++++++++++++++++++++++++++++++++++++++++++++++++ */

	#subject_problem_decision .problem .mac .cont
	{
		height: 170px;
		/* background-color: blue; */
		width: 839px;
		margin: 0 auto
	}

	/*+++++++++++++++++++++++++++++++++++++++++block 4+++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	#subject_problem_decision .problem .city .cont
	{
		height: 170px;
		/* background-color: blue; */
		width: 839px;
		margin: 0 auto
	}

	#subject_problem_decision .problem .city
	{
		height: 620px;
		/* background-color: blue */ 
	}

	#subject_problem_decision .problem .city img
	{
		width: 35%
	}

	#subject_problem_decision .problem .city .text
	{
		width: 60%;
		height: 480px;
		/* background-color: red */
	}

	#subject_problem_decision .problem .city .text p
	{
		font-size: 14px
	}

	/* big text */
	#subject_problem_decision .problem .city .text span {
	    position: absolute;
	    bottom: 96px;
	    font-size: 55px;
	    right: 115px;
	}

	/* line */
	#subject_problem_decision .problem .city .text:after {
	    content: "";
	    position: absolute;
	    display: inline-block;
	    bottom: 165px;
	    height: 14px;
	    width: 1246px;
	    background-color: #ad0000;
	}

	/*+++++++++++++++++++++++++++++++++++++++++block 5+++++++++++++++++++++++++++++++++++++++++++++++++++++ */
	#subject_problem_decision .problem .message
	{
		/* background-color: red; */
		height: 400px
	}


	#subject_problem_decision .problem .message h2 {
    font-size: 90px;
    text-align: center;
	}

	#subject_problem_decision .problem .message img
	{
		display: none
	}

	#subject_problem_decision .problem .message form
	{
		/* background-color: red; */
		margin-left: 210px
	}

	/* height file */

	#subject_problem_decision {
    height: 2128px;
    /* background-color: #243CED; */
}

}

/*-----------------------------------------------BLOCKS----------------------------------------------*/
/*===========================size screen -> (min-width: 820px) and (max-width: 980px)===============*/

@media screen and (min-width: 820px) and (max-width: 980px)
{
	/*+++++++++++++++++++++++++++++++++++++++++++++block 1+++++++++++++++++++++++++++++++++++++++++++++++*/

	#subject_problem_decision .container
	{
		width: 820px;
		margin: 0 auto
	}

	/* block-1 */
	#subject_problem_decision .problem .why_problem .cont
	{
		height: 170px;
		/* background-color: blue; */
		width: 820px;
		margin: 0 auto
	}

	#subject_problem_decision .problem .why_problem .text, #subject_problem_decision .problem .why_problem .price {
    height: 170px;
    width: 346px;
    position: relative;
	}

	/* line to block1 */


	#subject_problem_decision .problem .why_problem .price span {
    font-size: 100px;
    margin-left: 34px;
    display: inline-block;
    padding-top: 10px;
	}

	#subject_problem_decision .problem .why_problem:before {
    content: "";
    position: absolute;
    bottom: -15px;
    height: 14px;
    width: 1246px;
    background-color: #ad0000;
    right:65px;
	}

	/*+++++++++++++++++++++++++++++++++++++++++++++block 2+++++++++++++++++++++++++++++++++++++++++++++++*/

	#subject_problem_decision .problem .why_i .cont
	{
		height: 170px;
		/* background-color: blue; */
		width: 820px;
		margin: 0 auto
	}

	#subject_problem_decision .problem .why_i .price , 
	#subject_problem_decision .problem .why_i .text
	{
		height: 220px;
		width: 346px;
		position: relative;
		/* background-color: red */
	}

	/*+++++++++++++++++++++++++++++++++++++++++++++block 3+++++++++++++++++++++++++++++++++++++++++++++++*/

	#subject_problem_decision .problem .mac .cont
	{
		height: 170px;
		/* background-color: blue; */
		width: 820px;
		margin: 0 auto
	}

	/*+++++++++++++++++++++++++++++++++++++++++block 4+++++++++++++++++++++++++++++++++++++++++++++++++++++ */

	#subject_problem_decision .problem .city .cont
	{
		height: 170px;
		/* background-color: blue; */
		width: 700px;
		margin: 0 auto
	}

	#subject_problem_decision .problem .city
	{
		/* background-color: green  <- test*/
	}

	#subject_problem_decision .problem .city img
	{
		display: none
	}

	#subject_problem_decision .problem .city .text h4 {
    font-size: 30px;
    text-align: center;
	}

	/*+++++++++++++++++++++++++++++++++++++++++block 5+++++++++++++++++++++++++++++++++++++++++++++++++++++ */

	#subject_problem_decision .problem .message
	{
	    /* background-color: red; */
		height: 450px
	}

	#subject_problem_decision .problem .message img
	{
		display: none
	}

	#subject_problem_decision .problem .message .cont
	{
		height: 170px;
		/* background-color: blue; */
		width: 820px;
		margin: 0 auto
	}

	#subject_problem_decision .problem .message h2 {
    font-size: 81px;
    text-align: center;
	}

	#subject_problem_decision .problem .message form
	{
		/* background-color: green; */
		margin-left: 130px
	}

	/* height file */
	#subject_problem_decision {
    height: 2177px;
	}

}